<% if pickcharts %>
	<table>
		<tr>
			<td>Week</td>
			<td class="pick_hide">Pickchart ID</td>
			<td>Visitor</td>
			<td>Vis Record</td>
			<td class="pick_hide"> </td>
			<td>Home</td>
			<td>H Record</td>
			<td>Game Time</td>
		</tr>

		<% pickcharts.each do |pickchart| %>
		<tr>
		<!-- <div class="pick_div"> -->
			<td><%= pickchart.week %></td>
		<!-- remember remove pickchart id later -->
			<td class="pick_hide" ><%= pickchart.id %></td>
			<td class="vis"><input type="radio" onclick="highLight(this)" value="visit" name=<%="#{pickchart.id}"%> disabled="true" ><%= pickchart.vteam %></td>
			<td><%= pickchart.vt_rec %></td>
			<td class="pick_hide"> at </td>
			<td class="hom"><input type="radio" onclick="highLight(this)" value="home" name=<%= "#{pickchart.id}"%> disabled="true"><%= pickchart.hteam %></td>
			<td><%= pickchart.ht_rec %></td>
			<td><%= pickchart.gametime %></td>
			<td class="pick_hide" >edit / delete</td>
		<!-- </div> -->
		</tr>

		<% end %>
	</table>
<% end %>
