<br>

<%= link_to ("BACK TO ADMIN"), "/admin", method: :get %>

<br>


<h3 class="pc_hide">this page shows your current pick chart template.</h3>
<h3 class="pick_hide">click on circle next to the team to make your picks</h3>
<br>
<h2 class="center">WEEK <%= @latest %> (LATEST - and/or based on filter) PREV WEEK <%= @prev_week %> </h2>

<%= render partial: "chart", locals: {pickcharts: @pickcharts} %>

<button class="pick_hide">save your picks for week XVARIABLEX</button>
<h3 class="pick_hide">Hit SAVE before leaving, or else you will lose your picks</h3>
<!-- link to set boolean field in Rails -->
<!-- http://stackoverflow.com/questions/4843013/add-a-simple-link-to-set-a-boolean-field-in-rails-nothing-seems-to-happen -->

<!-- ideal would be change var setting true / false / null -->
<!-- that setting would cause dislay or no display of form -->
	<section class="pc_hide">
		<%= form_for Pickchart.new, url: admin_chart_index_path, method: :post do |f| %>
		  <div class="chart">Wk: <%= f.text_field :week, :class => "t_field" %></div>
		  <!-- <div class="chart">xxxx</div> -->
		  <div class="chart">Vis : <%= f.text_field :vteam %><div/>
		  <div class="chart">V rec : <%= f.text_field :vt_rec, :class => "t_field" %><div/>
		  <div class="chart">Hom : <%= f.text_field :hteam %><div/>
		  <div class="chart">H rec : <%= f.text_field :ht_rec, :class => "t_field" %><div/>
		  <div class="chart">G tim : <%= f.text_field :gametime %></div>
		  <%= f.submit %>
		<% end %>
	</section>
<h5>button - create/save new chart</h5>
<a class="pc_hide clicky" onclick="hidePC(true)">button - select your picks</a>
<a class="pick_hide clicky" onclick="hidePC(false)">button - see pickchart template</a>

<h4>TO VIEW EARLIER WEEK, ENTER WEEK NUMBER HERE: _____</h4>
<!-- assigns a value to @variable - that overrides @latest - if @variable exists OR it rewrites @latest -->
<!-- dropdown menu ? -->
<!-- button - return to latest -->