<h4>WINNER LIST WILL ONLY BE UPDATABLE AS LONG AS ITS THE LATEST WK, before a new week added to game list</h4>

<h5>* currently saved as winner</h5>


<% if pickcharts %>
	<table class="new_chart_picks">
		<tr>
		<!--	<td>USER ID</td>  -->
			<td>Visitor</td>
			<td>....</td>
			<td>Home</td>
			<td>Game Time</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp; WINNER &nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>clear win from database</td>
		</tr>

<%= form_for Pickchart.new, url: admin_wins_path, method: :patch do |f| %>
		<% pickcharts.each do |pickchart| %>

		<tr>
		<!-- remember remove pickchart id later -->
			<td class="vis wins_team"><input type="radio" onclick="highLightt(this)" value="visit" name=<%="pickchart[]#{pickchart.id}"%> ><%= mark_v_winner(pickchart.id) %></td>
			<td>vs</td>
			<td class="hom wins_team"><input type="radio" onclick="highLightt(this)" value="home" name=<%= "pickchart[]#{pickchart.id}"%>><%= mark_h_winner(pickchart.id) %></td>
			<td class="wins_time"><%= pickchart.gametime %></td>
			<td name=<%= "pickchart[]#{pickchart.winner}"%>  class="win"><%= vis_to_vistor(pickchart.winner) %></td>
			<td class="clear"><input type="radio" onclick="highLightt(this)" value="clear" name=<%= "pickchart[]#{pickchart.id}"%>>REMOVE WIN</td>
			<!-- pass old selection into params by default - hidden radio button -->
			<td class="hidden"><input type="radio" value=<%="#{pickchart.winner}"%> name=<%= "pickchart[]#{pickchart.id}"%> checked=true ></td>
		</tr>
<% end %> <!-- end of pickcharts each loop -->
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>		
		<td><%= f.submit "SAVE", id: 'link_button'%></td>
		<!-- this pulls up the Pickchart ID and updates Winner Column in db -->
<% end %> <!-- end of the form -->	

	</table>

<% end %> <!-- end of the if pickcharts -->
