<%= javascript_include_tag "admin" %>

<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>



<% if @picks %>
	

     <!-- PARTIAL - table - USERS - Latest picks -->
			<td>Week: ??? </td>
			<td>user pick: list of user picks past week</td>
			<td>User Name: asdfasdf</td>
     <!-- PARTIAL under that from prev weeks picks -->
	<br>
	<%= link_to ("pickcharts"), "/admin/chart", method: :get %>
	<br>

	<br>
	<button><%= @current_user.user_name %> make your picks</button>
	<button>Create new week / pickchart</button>
	<br>
	<h4>EDIT USER SETTINGS</h4>
	<h4>CREATE / DELETE USERS</h4>
	<h5 onclick="hideCOF(true)"> CLICK HERE TO SEE WEEK 7 </h5>
	<h5 onclick="hideCOF(false)"> CLICK HERE TO SEE WEEK 6 </h5>

	<%= link_to ("make pickchart template"), "/admin/chart#template", method: :get%>  <!-- :onclick => 'hidePC(false)' %> -->
	<%= link_to ("make your picks"), "/admin/chart#picks", method: :get, :onclick => 'hidePC(true).delay( 2000 )' %>

<% end %>
