<%= javascript_include_tag "admin" %>

 <%= link_to ("Create New User"), "/admin/new",method: :get %>
 <%= link_to ("#{@current_user.user_name} make your picks"), "/admin/chart", method: :get, class: "admin_link_button" %>
<%= link_to ("Create / Edit weekly chart"), "/admin/chart/new", method: :get, class: "admin_link_button" %> 
<br>
<br>
<h1>MASTER PICK LIST FOR WEEK <%= latest_wk(@pickcharts) %></h1>
<div class="vis_admin boxxy"></div><div class="texty">VISITING</div>
<div class="hom_admin boxxy"></div><div class="texty">HOME</div>


<div id="horiz_overflow">

<% if @picks %>
<table>

<!-- @latest_picks_array.length.times do |i| -->
	<tr>
<% @latest_picks_array.each do |i| %>

	<td class="index_pick zedpick"><%= User.where(id: i).first.user_name %>'s PICKS</td>

<% end %>

	</tr>

	<% @latest_charts.each do |pickchart| %>

<!-- original location of class column -->
		<tr>
	<!-- change @current_user to @latest_picks_array[i] -->
		<% @latest_picks_array.length.times do |i| %>
		<% if @picks.where(pickchart_id: pickchart.id, user_id: @latest_picks_array[i]).last %>

			<% if @picks.where(pickchart_id: pickchart.id, user_id: @latest_picks_array[i]).last.user_pick === "visit" %>
				<td class="vis_admin index_pick"><%= pickchart.vteam %></td>
			<% else @picks.where(pickchart_id: pickchart.id, user_id: @latest_picks_array[i]).last.user_pick === "home"  %>
				<td class="hom_admin index_pick"><%= pickchart.hteam %></td>
			<% end %>

		<% else %>
			<td class="nil_admin index_pick"> --- no pick --- </td>


		<% end %>
		
		<% end %>
		</tr>

<% end %>		
</table>	


<% if false %> <!-- block comment out -->
	<%= link_to ("#{@current_user.user_name} make your picks"), "/admin/chart", method: :get, class: "admin_link_button" %>
	<%= link_to ("Create / Edit weekly chart"), "/admin/chart/new", method: :get, class: "admin_link_button" %> 
	<br>
	<br>
	<br>

	<h4>EDIT USER SETTINGS</h4>
	<h4>CREATE / DELETE USERS</h4>

	<select name="post[category]">
	  <option>ARCHIVE</option>
	  <option>LATEST WEEK <%= @latest %></option>
	  <option>WEEK <%= @latest-1 %></option>
	</select>

<h2>LIST ALL VALID WEEKS</h2>
	<h1> earliest <%= @earliest %> </h1>

	<p>ARCHIVE WEEK <%= @archive_work %> ...... </p>

	 <%= form_for @pickchart , :url => { :action => "create" }  do |f|  %>
		<%= f.select :week, (@earliest..@latest).to_a.reverse %>
		<!-- if nil, then message "no data to display" -->
	    <%= f.text_field  :week %> 
	    <%= f.submit "Add todo", class: "btn btn-primary" %>

	<% end %>

<% end %> <!-- block comment out with line 60 if false -->

	<% end %>
</div> <!-- end of #horiz_overflow div -->

<h5>&nbsp;&nbsp;&nbsp;&nbsp;The further right a person's pick column, the later they submitted their picks</h5>
<br>
<br>
<br>