<%= javascript_include_tag "admin" %>

<%= link_to ("#{@current_user.user_name} make your picks"), "/admin/charts", method: :get, class: "admin_link_button" %>
<%= link_to ("Game Listings"), "/admin/charts/new", method: :get, class: "admin_link_button" %> 
<%= link_to ("Wins"), "/admin/wins", method: :get, class: "admin_link_button" %>
<%= link_to ("Standings"), "/admin/standing", method: :get, class: "admin_link_button" %>
<%= link_to ("Create New User"), "/admin/new",method: :get, class: "admin_link_button" %>
<br>
<p id="latest_wk" class="hidden"><%= cookie_wk %></p>

<!--render partial: 'cookie', locals: {latest: @latest, cook: cookie_wk} -->

<br>
<p id="master_wk">MASTER &nbsp;PICK &nbsp;LIST &nbsp;FOR &nbsp;<%= name_wk(cookie_wk).upcase %></p>
<!-- MASTER PICK LIST FOR  name_wk(latest_wk(@pickcharts)).upcase -->



<div class="vis_admin boxxy"></div><div class="texty">VISITING</div>
<div class="hom_admin boxxy"></div><div class="texty">HOME</div>


<div id="horiz_overflow">
<% if @picks %>

<table>

	<tr>
<!-- @latest_licks_array is the list of users with picks for current week -->
<% if latest_picks(cookie_wk).any? %>
	<% latest_picks(cookie_wk).each do |i| %>
		<!-- loops through array of users who submitted picks -->
		<td class="index_pick zedpick"><%= User.where(id: i).first.user_name.first(15) %>'s Picks</td>
	<% end %>
<% else %>
		<td class="index_pick zedpick">NO PICKS</td>
<% end %>

	</tr>

<% if this_weeks_charts(cookie_wk).any? %>
	<% this_weeks_charts(cookie_wk).each do |pc| %>

	<tr>

		<% latest_picks(cookie_wk).each do |user| %>
			<% if Pick.where(pickchart_id: pc.id, user_id: user).last %>

				<% if Pick.where(pickchart_id: pc.id, user_id: user).last.user_pick === "visit" %>
					<td class="vis_admin index_pick"><%= mark_v_winner(pc) %></td>
				<!-- User.find(user).user_name -->
				<!-- Pick.where(pickchart_id: pc.id, user_id: user).last.user_pick -->
				<% else Pick.where(pickchart_id: pc.id, user_id: user).last.user_pick === "home" %>
					<td class="hom_admin index_pick"><%= mark_h_winner(pc) %></td>
				<% end %>
			<% else %>
				<td class="nil_admin index_pick"> --- no pick --- </td>
			<% end %>
		<% end %>

	</tr>	
	<% end %>
<% end %>

</table>	
	<% end %> <!-- end of if picks -->
</div> <!-- end of #horiz_overflow div -->
<div id="shaded_background">
	<div id="loading_gif">
			<h2 class="loading">LOADING</h2>
			<!--div class="pulse green" -->
			<div class="pulse yellow1"></div>
			<div class="pulse yellow2"></div>
			<div class="pulse yellow3"></div>
			<div class="pulse yellow4"></div>
			<div class="pulse yellow5"></div>

			<a class="loading gray_link">Taking too long? <u>Click here to reload.</u></a>
	</div>
</div>

<% if false %>
<select id="triggered" onchange = "selectTriggered()">
<% cities_array = User.all.map { |user| [user.user_name, user.id] } %>
<%= options_for_select(cities_array) %>
</select>
<% end %> <!-- end of if false -->

<select id="triggered" onchange = "selectTriggered()">
<!-- options_for_select(select_week_array) -->
<%= options_for_select(uniq_week_array) %>
</select>

<!-- need submit button -->


<h4>&nbsp;&nbsp;&nbsp;+ Confirmed winner&nbsp;&nbsp;&nbsp;- Confirmed loser</h4>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;The further right a person's pick column, the later they submitted their picks</h5>
<br>
<br>
<br>