<%= link_to ("BACK TO ADMIN"), "/admin", method: :get %>
<br>
CREATE NEW USER PAGE
<br>
???checkbox for admin or not?
<br>
or just default to NO
<br>
<h1>User model</h1>
<h3>admin - t or f</h3>
<h3>email</h3>
<h3>user_name</h3>
<h3>password</h3>
<h3>(password_digest)</h3>
<h1>CREATE A NEW USER - NOTE THIS IS USERS#INDEX</h1>

<%= form_for @user, url: users_path, method: :post do |f| %>
	<%= f.hidden_field :admin, :value => false %>
  User Name: <%= f.text_field :user_name %><br />
  email : <%= f.email_field :email %><br />
  password : <%= f.password_field :password %><br />
  <%= f.submit %>
<% end %>