<br>
<br>
<br>
<br>
ACTIVE PICKCHART

<% if pickcharts %>
	<table class="new_chart">
		<tr>
		<!--	<td>USER ID</td>  -->
			<td>Week</td>
			<td class="hide">Pickchart ID</td>
			<td>Visitor</td>
			<td>Vis Record</td>
			<td> </td>
			<td>Home</td>
			<td>H Record</td>
			<td>Game Time</td>
		</tr>

<%= form_for Pick.new, url: picks_path, method: :post do |f| %>
		<% pickcharts.each do |pickchart| %>


		<tr>
		<!-- <div class="pick_div"> -->
		<!--	<td><%= current_user.id %></td> -->
			<td><%= pickchart.week %></td>
		<!-- remember remove pickchart id later -->
			<td class="hide"><%= pickchart.id %></td>
			<td class="vis"><input type="radio" onclick="highLight(this)" value="visit" name=<%="picks[]#{pickchart.id}"%>><%= pickchart.vteam %></td>
			<td><%= pickchart.vt_rec %></td>
			<td> at </td>
			<td class="hom"><input type="radio" onclick="highLight(this)" value="home" name=<%= "picks[]#{pickchart.id}"%>><%= pickchart.hteam %></td>
			<td><%= pickchart.ht_rec %></td>
			<td><%= pickchart.gametime %></td>
			<td class="hide">edit / delete</td>
		<!-- </div> -->
			<!-- <td><%= f.submit %></td> -->
		</tr>
<% end %> <!-- end of pickcharts each loop -->
	</table>
		<div id="save_button"><%= f.submit "SAVE", class: 'link_button' %></div>
<% end %> <!-- end of the form -->	

<br>
<h3>Hit SAVE before leaving, or else you will lose your new picks</h3>
<% end %> <!-- end of the if pickcharts -->
