<% if standings %>
	<br>
	<div id="horiz_overflow_standing">

		<header class="scrolly">
		<% standing_users.each do |standing_user| %>
			<table class="header_table">
			<!-- article class="standing_header"> -->
				<tr class="header_row">
				<th></th>
				<th><%= name_of_user(standing_user).first(9) %></th>
				<th></th>
				</tr>
			<!-- first(15) limits name to 15 char -->

				<tr class="header_row">
					<td class="win_loss">win</td>
					<td class="win_loss_wk">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; week &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td class="win_loss">loss</td>
				</tr>
			<!-- article> -->
			</table>
		<% end %>
		</header>

		<section class="scrolly">
		<div id="vert_overflow">		
		<% standing_users.each do |standing_user| %>

			<table class="standing_table"><!-- print 22 weeks - 1 through 22 -->
			<!-- standing_table(standing_user).each do |standing| -->
			<% (1..22).each do |week_num| %>


			<% if standing_cells(standing_user, week_num).exists? %>
			
					<tr class="standing_row">
						<td class="green"><%= standing_cells(standing_user, week_num).last.wins %></td>
						<td class="gray"><%= week_wo_week(week_num) %></td>
						<td class="red"><%= standing_cells(standing_user, week_num).last.losses %></td>
					</tr>
			<% else %>
					<tr class="standing_row">
						<td class="green pale">-</td>
						<td class="gray pale">-- no score --</td>
						<td class="red pale">-</td>
					</tr>

			<% end %> 
			<% end %>
			</table>

		<% end %>
		</div> <!-- end of vertical div -->
		</section>

		<footer class="scrolly">
		<% standing_users.each do |standing_user| %>
			<table class="standing_table">
				<tr class="standing_row">
					<td class="green_tot"><%= tot_win(standing_user) %></td>
					<td class="gray_tot">&nbsp;&nbsp;&nbsp;&nbsp;TOTAL&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td class="red_tot"><%= tot_loss(standing_user) %></td>
				</tr>
			</table>
		<% end %>
		</footer>
		<div class="hidden done_loading"></div>
	</div>  <!-- end tag for horiz overflow -->

<% end %>