<%= stylesheet_link_tag  "standing" %>
<div id="no_scroll">

	<%= link_to ("HOME"), "/admin", method: :get %><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<%= link_to ("WINS"), "/admin/wins", method: :get %>

	<h2>STANDING - INDEX - scroll on chart to see other weeks (or players)</h2>

<% if false %>
	<% if @standings %>
	<%= render partial: "chart", locals: {standings: @standings, standing_users: @standing_users} %>
	<% end %>
<% end %>
<br>
<br>
	<div id="horiz_overflow_standing">
	<% @standing_users.each do |standing_user| %>
	
	<div class="vertical_wrapper">
		<div class="fixed">
			<!-- @standing_users.each do |standing_user| -->
				<table class="header_table">
				<!-- article class="standing_header"> -->
					<tr class="header_row">
					<th></th>
					<th><%= name_of_user(standing_user).first(9) %></th>
					<th></th>
					</tr>
				<!-- first(9) limits name to 9 char -->

					<tr class="header_row">
						<td class="win_loss">win</td>
						<td class="win_loss_wk">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; week &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td class="win_loss">loss</td>
					</tr>
				<!-- article> -->
				</table>
			<!-- end -->

		</div>
		<div class="vertical">
			<table class="standing_table"><!-- print 22 weeks - 1 through 22 -->
			<!-- standing_table(standing_user).each do |standing| -->
			<% (1..22).each do |week_num| %>


			<% if standing_cells(standing_user, week_num).exists? %>
			
					<tr class="standing_row">
						<td class="green"><%= standing_cells(standing_user, week_num).last.wins %></td>
						<td class="gray"><%= week_wo_week(week_num) %></td>
						<td class="red"><%= standing_cells(standing_user, week_num).last.losses %></td>
					</tr>
			<% else %>
					<tr class="standing_row">
						<td class="green pale">-</td>
						<td class="gray pale"><%= week_wo_week(week_num) %></td>
						<!-- td class="gray pale">- - no score - -</td -->
						<td class="red pale">-</td>
					</tr>

			<% end %> 
			<% end %>
			</table>
		</div>
		<div class="fixed2">
			<!-- @standing_users.each do |standing_user| -->
				<table class="standing_table">
					<tr class="standing_row">
						<td class="green_tot"><%= tot_win(standing_user) %></td>
						<td class="gray_tot">&nbsp;&nbsp;&nbsp;&nbsp;TOTAL&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td class="red_tot"><%= tot_loss(standing_user) %></td>
					</tr>
				</table>
			<!-- end -->
		</div>
	</div>
	<div class="a_blank"></div>
	<% end %>
	</div>
<div id="android_up" class="droid"></div>
<div id="android_left" class="droid"></div>
<div id="android_right" class="droid"></div>
<div id="android_down" class="droid"></div>
<script>
var userAgent = navigator.userAgent || navigator.vendor || window.opera;
	    if (/android/i.test(userAgent)) {
	    	android();
	        //return "Android";
	    }
	    //if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
			//android();
	        // return "iOS";
	    //}
</script>


	<br>
	<br>
	<br>
	<br>
	<br>

</div> <!-- end of no_scroll -->

<!-- div id="testing_stuff">sdhjksdfkhjsfkhjdfskjh</div> -->
<!-- div id="origin_x">frozen origin X</div> -->
<!-- div id="origin_y">frozen origin Y</div> -->
<br>
<br>
<br>
<br>
