<!DOCTYPE html>
<html>

<head>
	  <title>Football Picks</title>
	  <%= favicon_link_tag 'ft222.ico' %>
	  <%= stylesheet_link_tag    'application', media: 'all'%>
	      <%= javascript_include_tag 'application' %>

	      <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.js" %>
	      <!-- removed 'data-turbolinks-track' => true from stylesheet and js tag -->
	  <!-- #javascript_include_tag 'application', 'data-turbolinks-track' => true -->
	  <%= csrf_meta_tags %>
	</head>  
		<body class="ctr">
			<div id="background">

		    <% if flash[:notice] %>
		      <em class="notice">
		        <%= flash[:notice] %>
		      </em>
		    <% end %>

		    <% if flash[:alert] %>
		      <strong class="alert">
		        <%= flash[:alert] %>
		      </strong>
		    <% end %>
		    <br>

	 	<% if @current_user %>

	 		<h3 class="header left">Welcome, <%= @current_user.user_name %>!</h3>
			<h1 class="header"> FOOTBALL PICKS </h1> 		
	        <div class="loginout header right">
	        	<%= link_to ("LOGOUT"), "/sessions",method: :delete %>
	      	</div>
	      	
		<section>
			<%= yield %>
		</section> 

			</div>

		<% else %>

			<h1 class="header"> FOOTBALL PICKS </h1>
		      <br>
		      <br>
		      <h5>PLEASE LOGIN</h5>
		    <div class="form">
		      <%= form_tag('/sessions', method: "POST") do %>
		        <%= email_field_tag(:email, "",:placeholder => "EMAIL", :class => 'login_email') %>
		        <br>
		        <%= password_field_tag(:password, "", :placeholder => "PASSWORD", :class => 'login_password') %>
		        <br>
		        <%= submit_tag("LOGIN", :class => 'login_button') %>
		      <% end %>
		    </div> 

		<% end %>

		</body> 
	
 </html> 